@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --font-base: "Roboto", ui-sans-serif;

  --primary-color: #A2292A;
  --secondary-color: #F5F5DB;
  --gray-color: #ABAF9E;
  --white-color: #ffffff;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}